h1, h2 {
	font-family: 'Varela Round';
	
}

.greenColor {
	color: #00c40d;
}

.body {
	background-color: #f4f4f4;
}

.center {
	text-align: center;
}

.paintCanvas {
	border: 4px solid #00c40d;
    margin: auto;
    display: block;
    width: 512;
	height: 512;
	
}

.colorPreview {
	border: 4px solid #9b9b9b;
	width: 30px;
	height: 30px;
}

.colorPicker {
	margin: auto;
	margin-top: 10px;
	
    width: 512px;
    border: 4px solid #00c40d;	
	
	padding-top: 10px;
	padding-bottom: 10px;
}

#redSlider {
	background: red;
	width: 130px;
}
#greenSlider {
	background: green;
	width: 130px;
}
#blueSlider {
	background: blue;
	width: 130px;
}