.center {
	text-align: center;
}

#loginInfoText {
	text-align: left;
	vertical-align: top;
	margin: 5px;
}

#websiteForm {
	display: none;
}

#paintCanvas {
	width: 600px;
	height: 600px;
}

#scoreboardForm {
	position: fixed;
	top: 50%;
	right: 10%;
	margin-top: -300px;
	margin-right: -100px;

	text-align: left;
	padding: 4px;
	width: 400px;
	height: 600px;
	border-style: solid;
	border-color: black;
	overflow-y: scroll;
}

#paintForm {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -300px;
	margin-left: -300px;
}

#chatForm {
	position: fixed;
 	top: 50%;
  	left: 10%;
  	margin-top: -300px;
  	margin-left: -100px;
}

#messageTextBox {
	margin-top: 10px;
	width: 350px;
}
#chatTextDiv {
	text-align: left;
	padding: 4px;
	width: 400px;
	height: 600px;
	border-style: solid;
	border-color: black;
	overflow-y: scroll;
}
#chatText {
	margin: 0px;
}

#sendMessageButton {
	width: 50px;
}

#messageStateText {
	margin: 5px;
}

#automaticScroll {
	margin: 5px;
}




























/*
LOGIN PAGE STUFF
*/
#loginForm {
	display: none;
}

#usernameInput {
	width: 150px;
	height: 20px;
	margin: 2px;
}

#adminPasswordInput {
	display: none;
	width: 150px;
	height: 20px;
	margin: 2px;
}

#loginButton {
	margin: 2px;
	width: 150px;
	height: 30px;
}
#adminLoginButton {
	margin: 5px;
	width: 150px;
	height: 30px;
}