.center {
	text-align: center;
}

#loginInfoText {
	text-align: left;
	vertical-align: top;
	margin: 5px;
}

#websiteForm {
	display: none;
}

#paintCanvas {
	width: 600px;
	height: 600px;

	
}

#paintForm {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -300px;
	margin-left: -300px;
}

#chatTextArea {
	resize: none;
	width: 400px;
	height: 600px;
}

#chatForm {
	position: fixed;
 	top: 50%;
  	left: 10%;
  	margin-top: -300px;
  	margin-left: -100px;
}

#messageTextBox {
	margin-top: 10px;
	width: 350px;
}

#sendMessageButton {
	width: 50px;
}
































/*
LOGIN PAGE STUFF
*/
#loginForm {
	display: none;
}

#usernameInput {
	width: 150px;
	height: 20px;
}

#loginButton {
	margin: 10px;
	width: 150px;
	height: 30px;
}
